VITE_GEMINI_API_KEY=AIzaSyBbl3WxwhASDBosRNW01eaCFS9GalPNfpU
VITE_CIVIC_API_KEY=AIzaSyAxU13aJQuhPfrl72oJzGXubytDHY0XkMY
VITE_MAPS_API_KEY=AIzaSyCcqdkJbxeHLc0boN4pKtDe1y4FvNgn5-4
VITE_SEARCH_API_KEY=AIzaSyDPGW-4W0r4XdZOBHwDFphL4MGN8BcbXM0
VITE_SEARCH_CX=1328030cf13b24dec

# Firebase Config
VITE_FIREBASE_API_KEY=AIzaSyDs52qx8yiBFhNj-wTUISIvOI-Nw4mDQXA
VITE_FIREBASE_AUTH_DOMAIN=civicpath-95a23.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=civicpath-95a23
VITE_FIREBASE_STORAGE_BUCKET=civicpath-95a23.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=96833861922
VITE_FIREBASE_APP_ID=1:96833861922:web:dec4d044e1026101924d7b
VITE_FIREBASE_MEASUREMENT_ID=G-HW53REVWCP
VITE_GOOGLE_CLIENT_ID=791595513592-2c1nokquii8s25p9e0ruidmhjtp2fjji.apps.googleusercontent.com
